<%- include("partials/header") %>
<div class="cart-container">
  <h2>Your Cart (<%= cart.length %>)</h2>
  <% if (cart.length === 0) { %>
  <p>Your cart is empty.</p>
  <% } else { %> <% cart.forEach(item => { %>
  <a class="rmv-decor" href="/shop/<%= item.product._id %>">
    <div class="cart-grid">
      <div>
        <img
          src="/<%= item.product.file %>"
          alt="<%= item.product.brand %>"
          width="100px"
        />
      </div>

      <div class="cart-details">
        <h2><%= item.product.brand %></h2>
        <p>Price: <%= item.product.currency %><%= item.product.price %></p>
        <p>Quantity: <%= item.quantity %></p>
        <p>Size: <%= item.size %></p>
      </div>
    </div>
  </a>

  <form id="remove-cart-form" action="/remove-from-cart" method="POST">
    <input type="hidden" name="productId" value="<%= item.product._id %>" />
    <button id="remove-cart" type="submit">
      <i class="fa fa-trash" aria-hidden="true"></i>Remove from Cart
    </button>
  </form>
  <% }); %> <% } %>
  <a class="rmv-decor" id="go-back-to-products" href="/"
    ><button><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <p>Go back to products</p></a
  >
</div>

<%- include("partials/footer") %>
