<%- include("partials/header.ejs") %>

<!--HERO SECTION BEGINS-->
<div class="heroSection">
  <div class="model1">
    <img src="/img/model1.jpg" alt="model1" />
  </div>

  <div class="model2">
    <img src="/img/model2.jpg" alt="model2" />
  </div>
</div>
<!--HERO SECTION ENDS-->

<!--SHOPPING SECTION BEGINS-->
<div class="shoppingSection bg-seashell">
  <div class="shoppingSectionH2">
    <h2 class="text-center text-orange">SHOP NEW ARRIVALS</h2>
  </div>

  <div class="shopList">
    <!-- <div class="item">
      <img src="/img/gown.jpg" alt="gowns" />
      <figcaption>GOWNS</figcaption>
    </div>

    <div class="item">
      <img src="/img/two-piece.jpg" alt="two-piece" />
      <figcaption>TWO PIECE SET</figcaption>
    </div>

    <div class="item">
      <img src="/img/ankara.jpg" alt="ankara" />
      <figcaption>ANKARA DRESSES</figcaption>
    </div>

    <div class="item">
      <img src="/img/skirt.jpg" alt="skirt" />
      <figcaption>SKIRT</figcaption>
    </div> -->
    <!--FIXME-->

    <% if(locals.uploads && uploads.length > 0){%> <% uploads.forEach(upload =>
    {%>
    <div class="item">
      <img src="<%=upload.file%>" alt="<%= upload.brand %>" />
      <figcaption><%= upload.brand%></figcaption>
      <figcaption>₦<%= upload.price %></figcaption>
      <% if(auth){%>
      <a href="/edit-upload?id=<%= upload._id %>">Edit</a>

      <a href="#" onclick="deleteItem(event, '<%= upload._id %>')">Delete</a>
      <% } %>
    </div>
    <%}); %> <%}else{%>
    <p>No items available</p>
    <%} %>
  </div>
  <button id="shopsection-btn" class="text-white btn-bg">SHOP NOW</button>
</div>
<!--SHOPPING SECTION ENDS-->
<script>
  function deleteItem(event, id) {
    event.preventDefault(); // Prevent default anchor click behavior

    if (confirm("Are you sure you want to delete this item?")) {
      fetch(`/delete-upload/${id}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
          "X-Requested-With": "XMLHttpRequest", // This header indicates an AJAX request
        },
      })
        .then((response) => {
          if (response.ok) {
            // Successfully deleted
            window.location.reload(); // Refresh the page
          } else {
            return response.text().then((text) => {
              alert(`Failed to delete item: ${text}`);
            });
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred while deleting the item.");
        });
    }
  }
</script>
<%- include("partials/footer.ejs") %>
